doctype html
head
	title Braintrust
	link(href="css/main.css" rel="stylesheet" type="text/css")
body(data-spy="scroll" data-target=".navbar-nav")
	header.site-header
		div.wrapper
			nav.navbar.navbar-inverse
				div.container-fluid
					div.navbar-header
						button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
							span(class="sr-only") Toggle navigation
							span(class="icon-bar")
							span(class="icon-bar")
							span(class="icon-bar")
						a(class="navbar-brand" href="#") BRAINTRUST
					div.collapse.navbar-collapse
						ul(class="nav navbar-nav")
							- var sections = ["problem","solution","about","team","investors","contact"]
							for sec in sections
								li
									a(class="section-link" data-id="#{sec}") #{sec}
	div.col-md-3
	main.home.col-md-6
		section(class="section" id="problem")
			h3 problem
			p Nulla aliqua voluptate id culpa id qui. Dolore tempor commodo nulla do aliquip veniam consequat. Voluptate pariatur ullamco amet dolor deserunt voluptate dolor ipsum laboris. Lorem nulla et minim laboris voluptate velit sit reprehenderit consequat aliquip magna est enim. Lorem aliquip qui quis Lorem laboris adipisicing minim velit elit.
		section(class="section" id="solution")
			h3 solution
			p Nulla aliqua voluptate id culpa id qui. Dolore tempor commodo nulla do aliquip veniam consequat. Voluptate pariatur ullamco amet dolor deserunt voluptate dolor ipsum laboris. Lorem nulla et minim laboris voluptate velit sit reprehenderit consequat aliquip magna est enim. Lorem aliquip qui quis Lorem laboris adipisicing minim velit elit.
		section(class="section" id="about")
			h3 about
			p Nulla aliqua voluptate id culpa id qui. Dolore tempor commodo nulla do aliquip veniam consequat. Voluptate pariatur ullamco amet dolor deserunt voluptate dolor ipsum laboris. Lorem nulla et minim laboris voluptate velit sit reprehenderit consequat aliquip magna est enim. Lorem aliquip qui quis Lorem laboris adipisicing minim velit elit.
		section(class="section" id="team")
			h3 team
			p Nulla aliqua voluptate id culpa id qui. Dolore tempor commodo nulla do aliquip veniam consequat. Voluptate pariatur ullamco amet dolor deserunt voluptate dolor ipsum laboris. Lorem nulla et minim laboris voluptate velit sit reprehenderit consequat aliquip magna est enim. Lorem aliquip qui quis Lorem laboris adipisicing minim velit elit.
		section(class="section" id="investors")
			h3 investors
			p Nulla aliqua voluptate id culpa id qui. Dolore tempor commodo nulla do aliquip veniam consequat. Voluptate pariatur ullamco amet dolor deserunt voluptate dolor ipsum laboris. Lorem nulla et minim laboris voluptate velit sit reprehenderit consequat aliquip magna est enim. Lorem aliquip qui quis Lorem laboris adipisicing minim velit elit.
		section(class="section" id="contact")
			h3 contact
			p Nulla aliqua voluptate id culpa id qui. Dolore tempor commodo nulla do aliquip veniam consequat. Voluptate pariatur ullamco amet dolor deserunt voluptate dolor ipsum laboris. Lorem nulla et minim laboris voluptate velit sit reprehenderit consequat aliquip magna est enim. Lorem aliquip qui quis Lorem laboris adipisicing minim velit elit.
	div.col-md-3
	footer
	script(src="js/init.js")